.padre {
 
    align-content: center;
  }

.separator {
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 55%;
    border-style: dashed;
    border-color: black;
}

.puntuacion {
    text-align: center;
}

.botonVolver {
    margin-top: 4%;
}